/* pc(데스크탑) */
.h_top {
    height: 36px;
    background-color: #111;
    display: flex;
    justify-content: space-between;     /* 양쪽 정렬 */
    padding: 0 3%;
    align-items: center;
}
.jordan_logo span,.customer, .top_menu_title {
    display: none;
}
.top_menu {
    display: flex;
}
.top_menu li {
    height: 36px;
    margin-left: 24px;
    line-height: 33px;
}
.top_menu li a {
    color: #c4c4c4;
    font-size: 0.75em;
}

/* index-wrap 영역 */
#index_wrap {
    position: relative;
    z-index: 1;
    padding: 0 3%;
}
.main_visual, .content {
    text-align: center;
    margin-bottom: 100px;
}
.main_img>img {
    width: 100%;
}
/* 메인 타이틀 */
.title_01 {
    font-size: 2.25em;
    font-weight: 700;
    padding-top: 30px;
    letter-spacing: -1px;
}
.title_01_text {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -0.5px;
    padding-top: 14px;
}
.btn_area {
    display: flex;
    justify-content: center;
}
.btn_01 {
    display: block;
    background-color: #111;
    color: #fff;
    font-size: 1em;
    padding: 6px 22px 7px 22px;
    border-radius: 18px;
    margin: 24px 4px 0 4px;
}
/* 이번주 스타일링 */
.content_img {
    display: flex;
}
.content_img>.main_img {
    flex: 1;                /*늘이고 줄이고*/
    margin-right: 24px;
}
.content_img>.main_img:last-child {
    margin-right: 0;
}
.content_title {
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 24px;
    letter-spacing: -1px;
}
/* Trending Now */
.trend_img {
    position: relative;
    flex: 1;
}
.trend_img:first-child {
    margin-right: 24px;
}
.trend_img>img {
    width: 100%;
}
.trend_text {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.c_white {
    color: #fff;
    margin-bottom: 18px;
}
.b_white {
    background-color: #fff;
    color: #111;
    margin: 0;
}
.trend_img .btn_area {
    justify-content: flex-start;
}
/* Featured Shoes */
.swiper_slide {
    position: relative;
}
.Featured_slide .swiper-slide>a {
    display: block;
    width: 100%;
    text-align: left;
}
.Featured_slide .swiper-slide>a>img {
    width: 100%;
}
.featured_title {
    font-size: 1.25em;
    color: #111;
    font-weight: 400;
    margin-top: 18px;
    letter-spacing: -1px;
}
.featured_text {
    font-size: 1em;
    color: #757575;
    line-height: 19px;
    margin-top: 8px;
    letter-spacing: -0.5px;
}
.featured_control {
    width: 78px;
    height: 23px;
    position: absolute;
    top: 6px;
    right: 0;
}
.f_prev, .f_next {
    width: 23px;
    height: 23px;
    margin-top: 0;
    top: 0;
}
.f_prev {
    left: 0;
}
.f_next {
    right: 0;
}
.f_next::after, .f_prev::after {
    font-size: 1.125em;
    color: #999;
}
.f_pager {
    bottom: 1px;
    font-size: 0.9375em;
    color: #999;
}